@tailwind base;
@tailwind components;
@tailwind utilities;

.small-scrollbar {

    ::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    /* Firefox */
    & {
        scrollbar-width: thin;
        scrollbar-color: #00529A #B5CFEF;
    }

    /* Chrome, Edge and Safari */
    &::-webkit-scrollbar {
        height: 3px;
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #B5CFEF;
    }

    &::-webkit-scrollbar-track:hover {
        background-color: #A8C1DE;
    }

    &::-webkit-scrollbar-track:active {
        background-color: #00529A;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: #00529A;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #00529A;
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: #00529A;
    }
}


.custom-select-arrow {
    appearance: none;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxOCAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuMDAwMDUgMS45MDUyN0w5LjAwMDAyIDkuOTA1MjVMMTcgMS45MDUyNyIgc3Ryb2tlPSIjMDA1MjlBIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4K');
    background-repeat: no-repeat;
    background-position: right 1.4rem center;
    background-size: 1.3em;
}

.info-sick-mobile{
    h1 {
        display: none;
    }
    h3,ul,li{
        padding: 0px;
        margin: 8px 0;
    }
}